* {
    /* Margen */
    margin: 0;
    /* Relleno */
    padding: 0;
}

:root {
    font-size: 22px;
}

@font-face {
    font-family: praktika;
    src: url("../fonts/PraktikaRoundedExtraBold.otf") format('otf');

}

/* BODY - HEADER*/
.logo-titulo {
    background-color: white;
    text-align: right;
    display: flex;
    justify-content: space-around;
}

.logo-titulo {
    background-image: linear-gradient(rgba(31, 31, 163, 0.761), rgba(247, 247, 247, 0.761));

}

.alvarez-hnos {
    font-size: 48px;
    display: flex;
    margin: 263px 0px 0px 0px;
}

.alvarez {
    margin-top: 3rem;
}

.logo {
    width: 250px;
    height: 318px;
    margin: 20px 0px 30px 0px
}

.menu {
    width: 80%;
    height: 200px;
    margin-left: 20%;
    font-size: 22px;
    color: rgba(31, 31, 163, 0.761);
    display: flex;
    justify-content: space-around;

}

.peugeot-byd {
    display: flex;
    margin-left: -50px;
    margin-top: -50px;
}

.logo-byd {
    width: 410px;
    height: 251px;
    margin: -27px 33px 0px -31px
}

.logo-peugeot {
    width: 850px;
    height: 530px;
    margin: -174px 40px -60px -36px
}

/* Section index*/
/*
=======

>>>>>>> 1c429b4 (mi-rama)
.experiencia-1 {
    display: flex;
    justify-content: left;
    font-size: 2rem;
    margin-bottom: 1rem;
    margin-left: 1rem;
}

.experiencia-2 {
    display: flex;
    margin: 20px 10px 10px;
    flex-grow: 0;
    margin-left: 1rem;

}

.peugeot-208-azul {
    width: 25rem;
    height: 15rem;
    border-radius: 20%;

}
*/
.experiencia-45 {
font-size: 150%;
font-style: italic;
}
.container {
    justify-content: space-between;
    margin-bottom: 3rem;
}

/*Fin section index*/

/* Section Nosotros*/

.Mision {
    display: grid;
    grid-template-columns: 50% 50%;
    margin: 1rem 1rem 2rem 1rem;
    justify-items: center;
}

.Vision {
    display: grid;
    grid-template-columns: 50% 50%;
    margin: 2rem 1rem 2rem 1rem;
    justify-items: center;

}

.subtitulos {
    font-size: 150%;
    text-align: center;
    margin-bottom: 1rem;
}

.innovando {
    width: auto;
    height: 6rem;
    font-size: 2rem;
    text-align: left;
    margin: -3rem 0% 5rem 0%;
}

/* Fin Section Nosotros*/


/* Section Foro*/

.titulo-novedades {
    text-align: center;
    margin: -2rem 1rem 5rem 1rem;
    font-size: 200%;
}

.titulo-novedades {
    animation-duration: 3s;
    animation-name: slidein;
  }
  
  @keyframes slidein {
    from {
      margin-left: 100%;
      width: 100%;
    }
  
    to {
      margin-left: 0%;
      width: 100%;
    }
  }



.titulo-novedades:hover {
    animation: changeColor 3s;
    animation-iteration-count: infinite;
}

@keyframes changeColor {
    0% {
        color: rgb(30, 10, 141);
    }

    100% {
        color: white;
        background-color: black;
        width: all;
        height: all;
        border-radius: 2rem;
    }

}


.Foro {
    display: grid;
    grid-template-columns: 1.5fr 1fr;
    grid-template-rows: 15rem;
    background-image: linear-gradient(rgba(31, 31, 163, 0.761), rgba(247, 247, 247, 0.761));
}
/*
=======

>>>>>>> 1c429b4 (mi-rama)
.container-foro {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.novedades {
    background-color: transparent rgba(31, 31, 163, 0.761);
    border-radius: 20%;
    margin: 1rem 1rem 1rem 1rem
}

.imagen-novedades {
    width: 25rem;
    height: 15rem;
    margin-left: 1rem;
    border-radius: 20%;

}

.subtitulo-novedades {
    font-size: 150%;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: rgb(255, 255, 255);
    text-align: left;
    margin-bottom: 1rem;
}
*/

.nueva-peugeot{
    border-radius: 1rem;
}
.modelo{
    color: black;
    font-size: 200%;
}

.subtitulo-novedades:hover {
    animation: change-color;
}

@keyframes change-color {
    0% {
        color: blue;
        background-color: rgb(46, 13, 13);
    }

    100% {
        background-color: rgb(17, 40, 109);
        font-size: 120%;
        border-radius: 2rem;
        color: white;
    }

}


.video-novedades {
    margin-left: auto;
    margin-right: auto;
    margin-top: 4rem;
    margin-bottom: 2rem;
    display: block
}

.video-novedades {
    animation: video 3s;
    }
    
    @keyframes video {
        from {
            width: 0;
        }
    
        to {
            width: 51rem;
        height: 25rem;
        
        }
    }
    
.video-novedades {
animation: video 3s;
}

@keyframes video {
    from {
        width: 0;
    }

    to {
        width: 51rem;
    height: 25rem;
    
    }
}

iframe.video-novedades {
    width: 51rem;
    height: 25rem;
    border-radius: 1rem;
}

/* Fin Section Foro*/

/*Footer*/
footer {
    margin-left: 80%;

}

.redes {
    width: 40px;
    height: 40px;
    margin: 10px 20px 10px 10px;

}

/* Fin Footer*/



