* {
    /* Margen */
    margin: 0;
    /* Relleno */
    padding: 0;
}

/* Nav */
#logo {
    display: inline-flex;
    justify-content: space-around;
    margin-left: 2rem;
    flex-grow: calc(2);

}

#alvarez-hnos {
    display: flex;
    margin-top: 7.5rem;

}

#logos {
    margin-top: 2rem;
    margin-bottom: 3rem;
}

/* Fin Nav*/

/* Index*/

.experiencia-45 {
    font-size: 180%;
    font-style: italic;
}

#logos {
    margin-bottom: 3rem;
    margin-top: 3rem;
    justify-content: space-around;
}

.nueva-peugeot {
    border-radius: 2rem;
}

#experiencia {
    font-size: 100%;
    margin-left: 1rem;
    margin-right: 1rem;
}
.subcontainer-experiencia {
font-size: 130%;
}
/* Fin Index*/

/* Foro */
.titulo-novedades {
    text-align: center;
    margin: 2rem 1rem 5rem 1rem;
    font-size: 200%;
}

.titulo-novedades {
    animation-duration: 3s;
    animation-name: slidein;
}

@keyframes slidein {
    from {
        margin-left: 100%;
        width: 100%;
    }

    to {
        margin-left: 0%;
        width: 100%;
    }
}
.container-novedades {
    margin-left: 1rem;
    margin-right: 1rem;
}

.subcontainer-novedades {
    font-size: 130%;
}

.Foro {
    display: grid;
    grid-template-columns: 1.5fr 1fr;
    grid-template-rows: 15rem;
    background-image: linear-gradient(rgba(31, 31, 163, 0.761), rgba(247, 247, 247, 0.761));
}

.nueva-peugeot {
    border-radius: 1rem;
}

.modelo {
    color: black;
    font-size: 200%;
}


.video-novedades {
    margin-left: auto;
    margin-right: auto;
    margin-top: 4rem;
    margin-bottom: 2rem;
    display: block
}

.video-novedades {
    animation: video 3s;
}

@keyframes video {
    from {
        width: 0;
    }

    to {
        width: 51rem;
        height: 25rem;

    }
}


iframe.video-novedades {
    width: 51rem;
    height: 25rem;
    border-radius: 1rem;
}

/* Fin foro*/

/*Footer*/
footer {
    margin-left: 80%;

}

.redes {
    width: 40px;
    height: 40px;
    margin: 10px 20px 10px 10px;
    display: inline;

}

/* Fin Footer*/
