/* NAV*/

header {
    display: inline-flex;
    #logo {
        justify-content: space-around;
        margin-left: 2rem;
        flex-grow: calc(2);
        margin-top: 2rem;
    margin-bottom: 3rem;

    }

    #alvarez-hnos {
        display: flex;
        margin-top: 7.5rem;

    }
}