/*Extends*/

/* Placeholders*/

%botones {
    border: black;
    padding: 10px;
    border-radius: 2px;
}

.enviar {
    @extend %botones;
}

.llamar {
    @extend %botones;
}

.whatsapp {
    @extend %botones;
}